<h2 class="text-center mt-4 mb-3"><%= t('.title') %></h2>
<div class="container">
  <div class="row">
    <div class='col-md-8 col-sm-10 mx-auto'>
      <div class="card m-4">
        <div class="card-body">
          <div class="card-title">
            <div class="text-center"><%= @user.name %></div>
            </div>
            <div class="card-text">
              
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>