<footer class="container-fluid">
  <div class='row'>
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">利用規約</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">プライバシーポリシー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">お問い合わせ</a>
      </li>
    </ul>
    <div class='text-center'>
      <p>Copyright © 2024. ENJOY_ASAKATSU</p>
    </div>
  </div>
</footer>