<footer class="container-fluid">
  <div class='row'>
    <ul class="nav d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#"><%= t('footer.terms_of_service') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= t('footer.privacy_policy') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= t('footer.contact') %></a>
      </li>
    </ul>
    <div class='text-center'>
      <p>Copyright © 2024. ENJOY_ASAKATSU</p>
    </div>
  </div>
</footer>